<h3 style="text-align: center">Liste des stages PFE</h3>
<br>
<div class="form-row ">
  <div class="form-group has-search col-md-4" >
    <span class="fa fa-search form-control-feedback "></span>
    <input  type="text" class="form-control" placeholder="Search..." style="border-radius: 16px;">
  </div>
</div>
<table class="table table-striped" border="1">

  <thead class="bg-info" width="100%">
  <tr>
    <th>Etudiant1</th>
    <th>parcours</th>
    <th>Etudiant2</th>
    <th>parcours</th>
    <th>Sujet</th>
    <th>Encadrant</th>
    <th>Société</th>
    <th>Département</th>
    <th>Statut</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let s of stagesPFE ">
    <td>{{s.etudiantPFE1?.prenomNom}}</td>
    <td>{{s.etudiantPFE1?.parcours.titre}}</td>
    <td>{{s.etudiantPFE2?.prenomNom}}</td>
    <td>{{s.etudiantPFE2?.parcours.titre}}</td>
    <td>{{s.sujet}}</td>
    <td>{{s.enseignant?.prenomNom}}</td>
    <td>{{s.societe}}</td>
    <td>{{s.departement?.titre}}</td>
    <td>{{s.statut?.titre}}</td>
  </tr>
  </tbody>
</table>
